body {
    font-family: Arial, sans-serif;
    background: #ffe4e8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

#yes-btn {
    background: green;
    color: white;
}

#no-btn {
    background: red;
    color: white;
}
